:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(0deg, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 3% 5%;
}

p {
  color: var(--color-grey-dark-3)
}

.container {
  width: 100%;
  
  box-shadow: var(--shadow-dark);
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 10vh;
  align-items: center;
  background-color: var(--color-grey-light-1);
}

.header img {
  height: 40px;
}

.header .user-logged {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-logged:hover {
  background-color: var(--color-grey-light-2);
}

.header .user-logged img {
  border-radius: 50%;
  margin-right: 0.25rem;
}

input {
  width: 400px;
  border-radius: 30px;
  border: none;
  height: 35px;
  background-color: var(--color-grey-light-2);
  padding-left: 1.5rem;
}

textarea {
  width: 400px;
  border-radius: 30px;
  border: none;
  background-color: var(--color-grey-light-2);
  padding: 1.5rem;
}

input:focus,
textarea:focus {
  outline: none;
}


/*main content and navbar*/

.main {
  background-color: var(--color-grey-light-4);
  height: 80vh;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.navbar {
  width: 20%;
  background-color: var(--color-grey-dark-1);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-grey-light-4);
  padding: 2% 0;
}

.navbar-links {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  width: 100%;
}

.navbar-links li {
  padding: 1rem 0;
  display: block;
  width: 100%;
}

.navbar-links li.active {
  background-color: var(--color-primary);
}

.navbar-links li a:hover {
  color: var(--color-grey-light-1);
}

.navbar-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey-light-4);
}

.content {
  width: 80%;
  background-color: var(--color-grey-light-3);
  height: 100%;
  overflow-y: scroll;
  margin: 0;    
  padding: 0;
}


.images-container {
  width: 100%;
  background-color: var(--color-grey-light-1);
  height: 30vh;
  display: flex;
}

.images-container img {
  width: calc(100% / 3);
  height: 30vh;
}

.hotel-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  background-color: var(--color-grey-light-1);
}

.hotel-header.about {
  justify-content: flex-start;
}

.header-link {
  font-size: 0.8rem;
  color: var(--color-primary-light);
  cursor: pointer;
  margin-left: 2.5rem;
}
.header-search {
  font-size: 0.8rem;
  color: var(--color-primary-light);
  margin-left: 2rem;
}

.hotel-name {
  color: var(--color-grey-dark-3);
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.hotel-info {
  display: flex;
  align-items: center;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: var(--color-primary-light);
}

.rating {
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
}

.hotel-rating small {
  color: var(--color-grey-light-3);
}

.location,
.show-all-btn {
  font-size: 0.8rem;
  color: var(--color-primary-light);
  cursor: pointer;
}


.red-underline {
  height: 1px;
  width: 100%;
  background-color: var(--color-primary-light);
}

.main-content {
  padding: 2.5rem 0 2.5rem 2.5rem;
  background-color: var(--color-grey-light-3);
  display: flex;
  width: 100%;
}

.main-content.about {
  padding: 2rem;
  display: block;
}

.content-container {
  background-color: var(--color-grey-light-1);
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow-light);
}

.content-container form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 1rem 0;
}
form input,
form textarea,
form .submit-btn {
  margin: 0.5rem 0;
}
form .submit-btn {
  width: 400px;
  text-transform: uppercase;
  border: none;
  background: linear-gradient(to left, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
  color: var(--color-grey-light-1);
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
}

.about-section {
  width: 60%;
  margin-right: 2.5rem;
  background-color: var(--color-grey-light-1);
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow-light);
}

.line {
  width: 100%;
  background-color: lightgrey;
  height: 1px;
  margin: 2rem 0;
}

.features {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.recommends {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-images {
  width: 45%;
}
.user-images img {
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.first-image {
  position: relative;
  left: 60px;
}

.second-image {
  position: relative;
  left: 40px;
}

.third-image {
  position: relative;
  left: 20px;
}

.reviews {
  width: 20%;
}

.review {
  background-color: var(--color-grey-light-1);
  margin-bottom: 2.5rem;
  position: relative;
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow-light);
  z-index: 1;
}

.fa-quote {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-grey-light-4);
  font-size: 3rem;
  z-index: -1;
}

.review-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-info img {
  height: 30px;
  border-radius: 50%;
}

.user-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-review-name {
  margin-left: 1rem;
  position: relative;
  top: 1.2rem;
  font-size: 0.8rem;
  color: var(--color-grey-dark-1);
  font-weight: bold;
}

.review-date {
  font-size: 0.7rem;
  margin-left: 1rem;
}

.review-rating {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.red-underline.short {
  width: 35%;
}

.btn {
  width: 20%;
  padding: 0.5rem 1.5rem;
}

.btn button {
  border: none;
  background: linear-gradient(to left, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
  color: var(--color-grey-light-1);
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  box-shadow: var(--shadow-dark);
  cursor: pointer;
}

.btn button:active,
form .submit-btn:active {
  transform: scale(0.98);
}



/*Media queries */

@media (max-width: 1350px) {
  .recommends {
      flex-direction: column;
  }
  
  .user-images {
      width: 100%;
      text-align: center;
  }
  .user-images img {
      height: 40px;
      border-radius: 50%;
      border: 3px solid #fff;
  }
}


@media (max-width: 1000px) {
  body {
      font-family: 'Open Sans', sans-serif;
      background: linear-gradient(0deg, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 2% 1%;
  }
  input, textarea {
      width: 80%;
  }
  .header {
      height: 10vh;
  }
  
  .main {
      flex-direction: column;
  }
  .navbar {
      width: 100%;
      height: 10vh;
      padding: 0;
  }
  .navbar.about {
      height: 10vh;
  }
  .footer {
      position: absolute;
      bottom: 0;
      left: 30%;
  }
  
  .navbar-links {
      flex-direction: row;
      text-align: center;
      padding: 0;
      width: 100%;
  }

  .content {
      width: 100%;
      height: auto;
  }

  .images-container {
      height: 20vh;
  }
  
  .images-container img {
      height: 20vh;
  }

  .hotel-header {
      height: 20vh;
      padding: 1rem 0;
      flex-direction: column;
  }
  
  .hotel-header.about {
      height: 10vh;
      flex-direction: row;
  }
  
  .main-content {
      flex-direction: column;
      padding: 2rem;
  }
  
  .about-section {
      width: 100%;
      margin: 0;
      padding: 0.5rem 1.5rem;
  }
  

  .reviews {
      width: 100%;
      display: flex;
      position: relative;
      margin-top: 2rem;
  }

  .show-all-btn {
      position: absolute;
      bottom: -0.5rem;
      left: 46.5%;
  }
  
  .review {
      margin: 1rem 1.5rem;
      padding: 0.5rem 1.5rem;
      width: 50%;
  }
  
  .red-underline.short {
      width: 100%;
  }
  
  .btn {
      width: 100%;
      text-align: center;
      margin-top: 1.5em;
  }
  
}


@media (max-width: 800px) {
  form .submit-btn {
      width: 80%;
  }
  #name, #email, #number, #textarea {
      width: 80%;
  }
}

@media (max-width: 768px) {
  .navbar {
      width: 100%;
      height: 10vh;
      padding: 0;
  }
  .navbar.about {
      height: 5vh;
  }
  .hotel-header {
      height: 20vh;
      padding: 1rem 0;
      flex-direction: column;
  }
  
  .hotel-header.about {
      height: 10vh;
      flex-direction: row;
  }
}

@media (max-width: 720px) {
  .navbar.about {
      height: 10vh;
  }
}

@media (max-width: 653px) {
  .navbar {
      width: 100%;
      height: 15vh;
      padding: 0;
  }
  .navbar.about {
      height: 15vh;
  }
  .hotel-header {
      height: 20vh;
      padding: 1rem 0;
      flex-direction: column;
  }
  
  .hotel-header.about {
      height: 10vh;
      flex-direction: row;
  }
}

@media (max-width: 640px) {
  .navbar {
      width: 100%;
      height: 15vh;
      padding: 0;
  }
  .navbar.about {
      height: 15vh;
  }
  .hotel-header {
      height: 25vh;
      padding: 1rem 0;
      flex-direction: column;
  }
  
  .hotel-header.about {
      height: 10vh;
      flex-direction: row;
  }
}

@media (max-width: 550px) {
  .reviews {
      flex-direction: column;
  }

  .show-all-btn {
      position: absolute;
      bottom: -0.5rem;
      left: 46.5%;
  }
  
  .review {
      margin: 1rem 0;
      padding: 0.5rem 1.5rem;
      width: 100%;
  }
  
  .red-underline.short {
      width: 100%;
  }

  .navbar {
      width: 100%;
      height: 10vh;
      padding: 0;
     
  }
  .navbar.about {
      height: 8vh;
  }
  .hotel-header {
      height: 20vh;
      padding: 1rem 0;
      flex-direction: column;
  }
  
  .hotel-header.about {
      height: 10vh;
      flex-direction: row;
  }
}

/*Rooms section*/

.content-container.rooms {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.room {
  width: 300px;
  padding-bottom: 2rem;
  background-color: var(--color-grey-light-2);
  margin: 1.5rem 3rem;
  box-shadow: var(--shadow-dark);
  border-radius: 10px;
  
}

.room img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
}
.room h2 {
  text-align: center;
  color: var(--color-grey-dark-2);
}

.room small {
  color:var(--color-grey-dark-3)
}

.price {
  font-size: 1.2rem;
  color: var(--color-primary-dark)
}

.room-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

.room-btn {
  text-decoration: none;
  margin: 3rem 0 0 30%;
  color: var(--color-grey-light-1);
  background: linear-gradient(to left, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}


@media (max-width: 550px) {
  .room-info {
    flex-direction: column;
    justify-content: center;
  }
  .price {
    margin: 0.5rem 0;
  }
  .room {
    width: 100%;
    padding-bottom: 2rem;
    background-color: var(--color-grey-light-2);
    margin: 1rem 0;
    box-shadow: var(--shadow-dark);
    border-radius: 10px;
    
  }
  .header-search {
    width: 50%;
    margin-left: -1.5rem;
  }
  
}


.close-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}


/*Rooom Details section*/

.room-details {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.room-details img {
  width: 30vw;
  height: 250px;
  margin-top: 1.5rem;
  margin-right: 2.5rem;
}
/*
.room-details a {
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none;
  background: linear-gradient(to left, var(--color-primary-dark), var(--color-primary-light) 40%, var(--color-primary));
  color: var(--color-grey-light-4);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--shadow-light);
}
*/
.room-details span {
  margin: 2.5rem 0;
}

@media (max-width: 800px) {
  
  .header-search {
    width: 50%;
    margin-left: 1rem;
  }
  .room-details {
    flex-direction: column;
  }
  .room-details img {
    width: 100%;
  }
}


@media (max-width: 320px) {
  .header-search {
    width: 50%;
    margin-left: -2.5rem;
  }
}